<html>
<head>
	<title>My website</title>
	<script src="custom.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="menu-container">
		<a class="menu-button but1" href="/">home</a>
		<a class="menu-button but2" href="/aboutme">about me</a>
		<a class="menu-button but3" href="/blog">blog</a>
		<a class="menu-button but4" href="/capstonefair">capstone fair</a>
		<div id="toggle-button" onclick="toggleMenu();"><span>+</span></div>
	</div>
	<div class="header">
		<div class="title">
			About me
		</div>
	</div>
	<div id="container">
		<div class="abtme-container">
			<img src="/bio.png" />
			<div>
				<p>Hey! I'm Jordan Woo. Welcome to my capstone website.</p>
				<p>I am a sophomore majoring in computer science at UMD, and I enjoy experimenting with new technologies
					as well as exploring my artistic side.</p>
				<p><em>Elision</em> was a great way for me to combine my passion for video games, storytelling,
					and teaching.</p>
			</div>
		</div>
	</div>
</body>