<html>
<head>
	<title>My website</title>
	<script src="custom.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="title">
			About me
		</div>
	</div>
	<div id="container">
		<a class="back" href="/">🡨</a>
		<table>
			<tr>
				<td>Least favorite html element</td>
				<td>table</td>
			</tr>
			<tr>
				<td>This cell is randomly</td>
				<td class="block">a block</td>
			</tr>
			<tr>
				<td>Favorite meme</td>
				<td><img src="https://sites.google.com/a/umich.edu/the-rhetoric-of-memes/_/rsrc/1386351632076/home/bad-luck-brian/Firetruck-Bad-Luck-Brian.jpg" /></td>
			</tr>
		</table>
	</div>
</body>