<html>
<head>
	<title>My website</title>
	<script src="custom.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="title">
			Blog
		</div>
	</div>
	<div id="container">
		<a class="back" href="/">🡨</a>
		<div class="blog">
			<h2>Alpha prototype</h2>
			<img src="alpha.png" />
			<p>My updated alpha prototype includes:</p>
			<ul>
				<li>Continuous gameplay (theres no longer an abrupt end)</li>
				<li>Resources and complementary item shop</li>
				<li>Time-based system (day, afternoon, night)</li>
				<li>Updated numbers and events</li>
			</ul>
			<p>Design-wise, most of these features have already been discussed and the changes are only in the
				completion of previously planned designs. The biggest design change was splitting the days up
				into day, afternoon, and night. A journey between these cities most likely takes only a couple
				of days, so splitting it up into time slices allows more events to happen while keeping true to
				real life.</p>
			<img src="alpha3.png" />
			<img src="alpha2.png" />
			<hr>
			<h2>Midpoint update - 3/15</h2>
			<img src="mid1.png" />
			<p>At the beginning of my project, I had no specifics: no idea where the game would be, whose stories would be told, how much a journey would cost or what the smuggling industry looked like. However, from my preliminary research, I knew I had main ideas that I wanted to convey. First, I wanted to explore the balance between narrative complexity and narrative accessibility - e.g. how can media be both engaging and educational? In my precedents, I found many games (look up Syrian War on wikipedia) that were lambasted for being too simple. They were accused of profiting off of sensationalized news, trivializing the real life experiences of many. Whether or not they meant to do so intentionally, the creators of these games simplified the games to the point that they barely passed as educational, defeating the point of a serious game.</p>
			<p>As I started creating the game, I made sure to put a lot of research into the possible locales for the games and backgrounds of the inhabitants. There was a lot of nuance in migration narrative that is often not shown - for example, reasons for migrating. Beyond the standard media trope of “fleeing war”, migrants may migrate to escape poverty, to rejoin family, and for geographic seasonal reasons. In certain cultures regular migration is seen as a rite of passage, and those who are too timid to migrate are seen as the equivalent as someone who has never moved out of the basement.</p>
			<p>Another important topic I wanted to highlight was the individuality of migrants, rather than just “the masses”. Africa and the Middle East have the highest number of ethnic and cultural identities, and two people who may look the same to an American may have completely different languages, cultural attitudes, and political feelings towards one another. Sharing more of migrants’ stories really highlights that they are their own individual person with their own interests (soccer), aspirations (to go to a good med school), and principles (bound by loyalty). In these ways, they are not so different than us - a key point that the project may hopefully convey indirectly.</p>
			<p>As of now, I have moved beyond the general into the specific. The first smuggling hub will be Agadez, Niger, and the player’s character will be ethnically Toubou with the intent to travel with migrants into Libya. The gameplay will consist of the player either being in a city, or travelling between cities. In the city, the players can manage resources, hire members of their team, seek out information, and take on passengers. On the route there, events such as military checkpoints and random bandit encounters will occur. Whenever the player reaches another city, they will drop off migrants, resupply, and continue.</p>
			<p>Throughout both stages, the player will have to make decisions, choices that will require critical thinking and have moral impact. Based on the feedback I have received thus far, the game does a sufficient job of having impactful choices without relying on over-sensationalization as a crutch. I approached the project cautiously, and erred on the side of “too boring” rather than “too trivial”. Going forward, I have received good feedback that visuals, sounds, and effects can make the game more successful in its ability to be engaging.</p>
			<p>My timeline so far looks promising - I have fulfilled by goals for both the paper prototype and the user feedback iteration. In addition, I have enough research to start coding more specific interactions within the game, and enough additional research material that I can find the answers to any questions I may encounter. I have just finished creating the internal structure and functionality of the game for spawning random events - meaning having done the “how”, I can now focus on the “what”. I am also going to meet with others concerning the use of adapting visuals for the game, either borrowing from interactive visual novels or real life pictures. More user research will have to be completed after I have included these graphics.</p>
			<p>Over the last couple of weeks, I have received a lot of feedback in and out of the classroom, and I have gotten a good sense of direction for the project. I feel as if I am now ready to start on the meat of my project, to fill in the blanks. I have no concerns or questions as of right now on where to go or how to start; I simply have to continue what I am doing. After I finish, I will await more feedback to continue.</p>
			<img src="paper2.jpg" />
			<img src="mid2.png" />
			<hr>
			<h2>User feedback revision - 3/8</h2>
			<p>Commentary on the revision based on user feedback will be split into three sections:</p>
			<h3>Tangible changes</h3>
			<p>Because there was not a lot of content (and because the available content was effectively placeholder), not too much was changed.
			The lighter background color was adjusted to be a little less bright, and the wording for the intro screen was changed a little (again
			not too significant because it is all subject to change).</p>
			<h3>Conceptual changes</h3>
			<p>One of my goals for the user feedback was to find out where the project lied on the spectrums of educational and fun. The feedback
			unanimously agreed there was a lot of potential for learning, and that even in the small snippet that I showed they learned something.
			For the fun side, there needs to be more engagement whether it comes in the form of pictures, graphics, sound, or effects.</p>
			<h3>Future changes</h3>
			<p>Most of the feedback was directed towards the future state of the project. Users stated that it was important that the game stay
			realistic and accurate to real life as it continued to be developed. They also stated that they didn't think adding a lot more features
			would be too complex. I obtained perspectives from immigrants themselves that they would want to be shared indirectly through the game.
			Future iterations of the intro screen should go more in depth, giving more background on both the industry and the backstory of the
			character.</p>
			<hr>
			<h2>User feedback interviews - 3/1</h2>
			<p>
				My first iteration can be found <a href="https://elision.surge.sh">here</a>.
			</p>
			<h3>Questions (abbreviated, full questions can be found by clicking the link):</h3>
			<ol>
				<li>Does the info screen give you enough of a background to start the game?
					<p>The screen has two sections: one introducing the premise of the smuggling industry and one introducing the premise of the game.
					While the two section idea is good, both need elaborating on. (E.g. what does smuggling really mean, what does it involve?) Also,
					the backstory of the character should be fleshed out more.</p>
				</li>
				<li>At what points while playing the game did you think it was too complicated? Too simple?
					<p>At the state it was presented, it was not too complicated. Testers were excited for more things to be added. The game in its 
					current form provides interesting dilemnas without being too confusing.</p>
				</li>
				<li>Did you think the user interface was easy to use? Would you change anything about it?
					<p>User interface looked fine - maybe button text can be changed for clarity. The light tan background is a little distracting, can look
					into a less saturated / darker color.</p>
				</li>
				<li>Can a game do a complex topic justice?
					<p>From the perspective of gamers, yes. The gamers have all played games that have tackled serious issues like mental health and
					societal identity - they think it definitely can be done well. One particular feedback was that games are the best way to teach
					because they put you into a world where you can indirectly learn and realize things on your own. They said that this game shows 
					potential and that this game can do a complex topic justice as long as it is accurate. An example was brought up about how many
					modern armies, corporations, and institutions use games or gamified systems to teach already.
					</p>
				</li>
				<li>Was this game fun? Educational?
					<p>It can definitely be educational - in terms of being more engaging, there needs to be some more visuals, effects, sounds, etc.</p>
				</li>
				<li>From your experience with immigration, what part of your experience do you think should be told?
					<p>One respondent said that they wanted to highlight the ineffeciencies of the governments in countries with high migrancy rates -
						smuggling wouldn't be so prevalent if it didn't take years to get a single passport checked.</p>
				</li>
			</ol>
			<h3>Changes to next version</h3>
			<p>The biggest takeaway for me is that the project is on a good track currently, and would skew to the informative side rather than the
			engaging side. Going forwards, I will focus most of my effort to simply creating more content, and to make sure that any produced content
			is accurate and representative. I will start to think about how to increase the complexity of the game as well, and to make priority lists
			for what to do next.</p>
			<hr>
			<h2>Paper prototypes - 2/21</h2>
			<img src="paper1.jpg" />
			<img src="paper2.jpg" />
			<img src="paper3.jpg" />
		</div>
	</div>
</body>