<html>
<head>
	<title>My website</title>
	<script src="custom.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="title">
			Blog
		</div>
	</div>
	<div id="container">
		<a class="back" href="/">🡨</a>
		<div class="blog">
			<h2>Paper prototypes - 2/21</h2>
			<img src="paper1.jpg" />
			<img src="paper2.jpg" />
			<img src="paper3.jpg" />
		</div>
	</div>
</body>