<html>
<head>
	<title>My website</title>
	<script src="custom.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="title">
			Blog
		</div>
	</div>
	<div id="container">
		<a class="back" href="/">🡨</a>
		<div class="blog">
			<h2>User feedback interviews - 3/1</h2>
			<p>
				My first iteration can be found <a href="https://elision.surge.sh">here</a>.
			</p>
			<h3>Questions (abbreviated, full questions can be found by clicking the link):</h3>
			<ol>
				<li>Does the info screen give you enough of a background to start the game?
					<p>The screen has two sections: one introducing the premise of the smuggling industry and one introducing the premise of the game.
					While the two section idea is good, both need elaborating on. (E.g. what does smuggling really mean, what does it involve?) Also,
					the backstory of the character should be fleshed out more.</p>
				</li>
				<li>At what points while playing the game did you think it was too complicated? Too simple?
					<p>At the state it was presented, it was not too complicated. Testers were excited for more things to be added. The game in its 
					current form provides interesting dilemnas without being too confusing.</p>
				</li>
				<li>Did you think the user interface was easy to use? Would you change anything about it?
					<p>User interface looked fine - maybe button text can be changed for clarity. The light tan background is a little distracting, can look
					into a less saturated / darker color.</p>
				</li>
				<li>Can a game do a complex topic justice?
					<p>From the perspective of gamers, yes. The gamers have all played games that have tackled serious issues like mental health and
					societal identity - they think it definitely can be done well. One particular feedback was that games are the best way to teach
					because they put you into a world where you can indirectly learn and realize things on your own. They said that this game shows 
					potential and that this game can do a complex topic justice as long as it is accurate. An example was brought up about how many
					modern armies, corporations, and institutions use games or gamified systems to teach already.
					</p>
				</li>
				<li>Was this game fun? Educational?
					<p>
						It can definitely be educational - in terms of being more engaging, there needs to be some more visuals, effects, sounds, etc.
					</p>
				</li>
				<li>From your experience with immigration, what part of your experience do you think should be told?
					<p>
						One respondent said that they wanted to highlight the ineffeciencies of the governments in countries with high migrancy rates -
						smuggling wouldn't be so prevalent if it didn't take years to get a single passport checked.
					</p>
				</li>
			</ol>
			<h3>Changes to next version</h3>
			<p>The biggest takeaway for me is that </p>

			Waiting for professor to respond - will update when he does.</p>
			<hr>
			<h2>Paper prototypes - 2/21</h2>
			<img src="paper1.jpg" />
			<img src="paper2.jpg" />
			<img src="paper3.jpg" />
		</div>
	</div>
</body>