<html>
<head>
	<title>My website</title>
	<script src="custom.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="menu-container">
		<a class="menu-button but1" href="/">home</a>
		<a class="menu-button but2" href="/aboutme">about me</a>
		<a class="menu-button but3" href="/blog">blog</a>
		<a class="menu-button but4" href="/capstonefair">capstone fair</a>
		<div id="toggle-button" onclick="toggleMenu();"><span>+</span></div>
	</div>
	<div class="header">
		<div class="title">
			Capstone Fair
		</div>
	</div>
	<div id="container">
		<div class="fair-container">
			<img src="/capstone.jpg" />
			<p>The fair was a success! I was demonstrating my project the entire time, and was able to 
				guide everyone who walked by as they played my game. The random nature of the game shined,
				as everyone's experience with the project was slightly different based on the events they
				chose. This is what they had to say -
				<br><br>				
				"Wow, you can see it's more complicated than `they're the bad guys`"
				<br><br>
				"I want to learn React now."
				<br><br>
				"Oh no which decision do I pick?"
				<br><br>
				"This is cool"
			</p>
			<img src="/final1.png" />
			<img src="/final2.png" />
			<img src="/final3.png" />
		</div>
	</div>
</body>