<html>
<head>
	<title>Elision</title>
	<script src="custom.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="menu-container">
		<a class="menu-button but1" href="/">home</a>
		<a class="menu-button but2" href="/aboutme">about me</a>
		<a class="menu-button but3" href="/blog">blog</a>
		<a class="menu-button but4" href="/capstonefair">capstone fair</a>
		<div id="toggle-button" onclick="toggleMenu();"><span>+</span></div>
	</div>
	<div class="header">
		<div class="title">
			Elision
		</div>
	</div>
	<div id="container">
		<div class="home-container">
			<div class="home-abstract">
				<h1>Elision</h1>
				<h3>is a point-and-click adventure web game that allows you to play as a refugee smuggler in 
				the Sahara region of Africa.</h3>
				<p>The project explores the topic of migration and the surrounding historical, 
				political, economic, and social context that causes it, using real-life stories to promote a healthier 
				narrative of immigrants as individuals seeking to find refuge from socio-political disasters, rather 
				than as a group of nameless, suffering victims deserving of pity or scorn.</p>
				<p>Video games have been shown 
				to be an engaging, digestible way to spread messages and enact change; they have been specifically 
				selected for this project because of their ability to synthesize people, locations, histories, stories 
				and social structures together to better convey context of why the immigration crisis is so large.
				The hope is that players will learn best by engaging with the game, making difficult decisions, 
				and in the end, drawing conclusions for themselves.</p>
			</div>
			<a href="https://elision.surge.sh" target="_blank" class="play">Play</a>
		</div>
	</div>
</body>