<html>
<head>
	<title>My website</title>
	<script src="../public/custom.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto" rel="stylesheet">
</head>
<body>
	<div class="menu-container">
		<a class="menu-button but1" href="/aboutme">about me</a>
		<a class="menu-button but2" href="#">hey</a>
		<a class="menu-button but3" href="#">these pages</a>
		<a class="menu-button but4" href="#">go nowhere</a>
		<div id="toggle-button" onclick="toggleMenu();"><span>+</span></div>
	</div>
	<div class="header">
		<div class="title">
			Jordan Woo
		</div>
	</div>
	<div id="container">
	</div>
</body>